
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img width="50px" src="https://cdn.pixabay.com/photo/2017/03/08/14/20/flat-2126883_640.png">
          </a>
        </div>
        <div class="navlinks collapse navbar-collapse">        <h1 class="navbar-text navbar-right"><a href="/dashboard" class="navbar-link">DashBoard</a></h1>
                <h1 class="navbar-text navbar-right"><a href="/" class="navbar-link">Home</a></h1></div>
      </div>
    </nav>
